<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tiny CMS for Brand Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/tinycms.css" rel="stylesheet" media="screen">
</head>
<body ng-app="tinyCMS" ng-controller="selectedBrandController">

<!--Error header -->
<div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Error</h3>
    </div>
    <div class="modal-body">
        <p  >error message</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
</div>


<!-- Home button navigate to home -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#" ng-click="goToHomePageContent()" >Tiny brand CMS</a>
        </div>
    </div>
</div>

<!-- Brand list -->
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span2">

            <div class="well well-small" ng-controller="navigationController" ng-show="showHomePageContent()" >
		    <ul class="nav nav-list">
			<li class="nav-header">Brands</li>
			<li ng-repeat="brand in brands">
			    <i class="icon-wrench pull-right" ng-show="brand.draft"></i>
                <a href="#" ng-click="selectBrand(brand)">{{brand.brandName}}</a>
			</li>
		    </ul>
            </div>
        </div>
        <div class="span10">
        <!-- Display wellcome text if no brand selected -->
	    <div class="hero-unit" ng-show="showHomePageContent()">
		<img src="img/logo.png" width="148" height="185" class="pull-left"/>
		<br />
		<h1>Welcome to tiny CMS</h1>
		<h2>Simple brand content management system</h2>
	    </div>

	    <!--Get the selected brand and check that it is in display mode -->
        <p class="pull-right" ng-show="isDisplayMode">

            <!--If the brand has draft changes display the published button -->
            <button
                    ng-show="selectedFullBrandData.drafts"
                    class="btn btn-success"
                    type="button"
                    title="All unpublished details are made public">
                <i class="icon-edit"></i> Publish
            </button>

            <!-- Edit button for the brand data -->
            <button
                    class="btn btn-primary"
                    type="button"
                    title="Edits the brand data"
                    ng-click="edit()">
                <i class="icon-edit"></i> Edit
            </button>
        </p>

	    <!-- Loop round each status that we have, published, draft show button and click functionality to show that particular version -->
        <ul class="nav nav-pills">
            <li ng-class="{active: viewMode=='published'}" ng-show="selectedFullBrandData.published">
            <a href="#" ng-click="viewPublishedContent()">Published</a>
            </li>
            <li ng-class="{active: viewMode=='draft'}" ng-show="selectedFullBrandData.draft">
                <a href="#" ng-click="viewDraftContent()" >Draft</a>
            </li>
        </ul>
        <div>
            <ng-include ng-show="shouldEditSelectedBrand()" src="'editBrand.html'"/>
        </div>
        <div>
            <ng-include ng-show="shouldDisplaySelectedBrand()" src="'showBrand.html'"/>
        </div>
	    <!-- Show the selected brand -->
	    <!-- Show the edit brand -->
        </div>
    </div>
</div>

<!-- Display template -->
<script type="text/ng-template" id="showBrand.html">
    <h1>BrandName ({{viewContent().brandName}})</h1>
    <dl>
        <dt>Strapline</dt>
        <dd>{{viewContent().strapLine}}</dd>
    </dl>

    <h3>Important text</h3>
    <!-- Loop over each important text -->
    <ul ng-repeat="importantText in viewContent().importantText">
        <li>{{importantText.text}}</li>
    </ul>

    <h3>Benefits</h3>
     <ul ng-repeat="benefits in viewContent().Benefits">
        <li>{{benefits.text}}</li>
    </ul>

    <h3>Presence</h3>

    <label class="checkbox">
        <input type="checkbox" disabled="disabled" ng-model="viewContent().onlinePurchaseSupported"/> Online purchase supported
    </label>

    <label class="checkbox">
        <input type="checkbox" disabled="disabled" ng-model="viewContent().offlinePresence.OfflinePurchaseSupported"/> Offline purchase supported
    </label>
    <div ng-show="viewContent().offlinePresence.OfflinePurchaseSupported">
        <h4>Opening times</h4>

        <dl class="dl-horizontal">
            <dt>Monday</dt>
            <dd>{{viewContent().offlinePresence.OpeningTimes.Monday}}</dd>

            <dt>Tuesday</dt>
            <dd>{{viewContent().offlinePresence.OpeningTimes.Tuesday}}</dd>

            <dt>Wednesday</dt>
            <dd>{{viewContent().offlinePresence.OpeningTimes.Wednesday}}</dd>

            <dt>Thursday</dt>
            <dd >{{viewContent().offlinePresence.OpeningTimes.Thursday}}</dd>

            <dt>Friday</dt>
            <dd >{{viewContent().offlinePresence.OpeningTimes.Friday}}</dd>

            <dt>Saturday</dt>
            <dd >{{viewContent().offlinePresence.OpeningTimes.Saturday}}</dd>

            <dt>Sunday</dt>
            <dd >{{viewContent().offlinePresence.OpeningTimes.Sunday}}</dd>

            <dt>Bank Holiday</dt>
            <dd >{{viewContent().offlinePresence.OpeningTimes.BankHoliday}}</dd>
        </dl>

        <dl>
            <dt>Phone Number</dt>
            <dd >{{viewContent().offlinePresence.PhoneNumber}}</dd>

            <dt>Support Copy</dt>
            <dd>{{viewContent().offlinePresence.SupportCopy}}</dd>
        </dl>

        <h3>Offer</h3>
        <dl>
            <dt>Text</dt>
            <dd >{{viewContent().offer.text}}</dd>

            <dt>Terms</dt>
            <dd >{{viewContent().offer.terms}}</dd>
        </dl>
    </div>
</script>

<!--Edit template -->
<script type="text/ng-template" id="editBrand.html">
    <form>
        <fieldset>
            <legend>Brand <span></span></legend>

            <label>Name</label>
            <input type="text" ng-model="viewData.brandData.brandName" />
            <label>Strapline</label>
            <input type="text" class="input-xxlarge" ng-model="viewData.brandData.strapLine" />

            <label>Important Text</label>
            <div ng-repeat="importantText in viewData.brandData.importantText">
                <textarea rows="3" class="span8" ng-model="importantText.text" ></textarea>
                <button type="button" ng-click="removeImportantText($index)"  class="btn btn-small" title="remove paragraph" >
                    <i class="icon-remove-circle"></i>
                </button>
            </div>
            <br />
            <button class="btn btn-small" type="button" ng-click="addImportantText()" ><i class="icon-plus"></i> Add</button>
        </fieldset>

        <br />

        <fieldset>
            <legend>Benefits</legend>

            <ul>
                <li ng-repeat="benefits in viewData.brandData.Benefits">
                    <input type="text"  class="span8" ng-model="benefits.text"/>
                    <button class="btn btn-small" type="button" ng-click="removeBenefits($index)"><i class="icon-remove-circle"></i></button>
                </li>
            </ul>

            <button class="btn btn-small" type="button" ng-click="addBenefits()"><i class="icon-plus" ></i> Add</button>
        </fieldset>

        <br />

        <fieldset>
            <legend>Presence</legend>

            <label class="checkbox">
                <input type="checkbox" ng-model="viewData.brandData.onlinePurchaseSupported"  /> Online purchase supported
            </label>

            <label class="checkbox">
                <input type="checkbox" ng-model="viewData.brandData.offlinePresence.OfflinePurchaseSupported"  /> Offline purchase supported
            </label>

    <div ng-show="viewData.brandData.offlinePresence.OfflinePurchaseSupported">
            Opening times:

            <div class="form-horizontal">

                <div class="control-group">
                    <label class="control-label">Monday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Monday"  />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Tuesday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Tuesday" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Wednesday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Wednesday"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Thursday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Thursday" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Friday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Friday" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Saturday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Saturday" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Sunday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.Sunday" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Bank Holiday</label>
                    <div class="controls">
                        <input type="text" ng-model="viewData.brandData.offlinePresence.OpeningTimes.BankHoliday" />
                    </div>
                </div>

            </div>

            <label>Phone Number</label>
            <input type="text"  ng-model="viewData.brandData.offlinePresence.PhoneNumber" />

            <label>Support Copy</label>
            <textarea rows=3 class="span8" ng-model="viewData.brandData.offlinePresence.SupportCopy" ></textarea>
        </div>
        </fieldset>

        <br />
        <fieldset>
            <legend>Offer</legend>

            <label>Text</label>

            <input type="text" class="input-xxlarge"  ng-model="viewData.brandData.offer.text" />

            <label>Terms</label>
            <textarea rows="3" class="span8" ng-model="viewData.brandData.offer.terms" ></textarea>
        </fieldset>
    </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="button" ng-click="save()"><i class="icon-edit"></i> Save</button>
            <button class="btn" type="button" ng-click="cancelEditing()" ><i class="icon-edit"></i> Cancel</button>
        </div>
    </form>
</script>

<script type='text/javascript' src='lib/jquery-2.0.2.min.js'></script>
<script type='text/javascript' src='lib/angular/angular.js'></script>
<script type='text/javascript' src='js/app.js'></script>
<script type='text/javascript' src='js/controllers.js'></script>
<script type='text/javascript' src='js/directives.js'></script>
<script type='text/javascript' src='js/filters.js'></script>
<script type='text/javascript' src='js/services.js'></script>
<script src='lib/bootstrap/js/bootstrap.min.js'></script>
</body>
</html>
