<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tiny CMS for Brand Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/tinycms.css" rel="stylesheet" media="screen">
</head>
<body ng-app="tinyCMS">

<!--Error header -->
<div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Error</h3>
    </div>
    <div class="modal-body">
        <p  >error message</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
</div>


<!-- Home button navigate to home -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#" >Tiny brand CMS</a>
        </div>
    </div>
</div>

<!-- Brand list -->
<div class="container-fluid" ng-controller="selectedBrandController">
    <div class="row-fluid">
        <div class="span2">

            <div class="well well-small" ng-controller="navigationController" ng-show="showHomePageContent()" >
		    <ul class="nav nav-list">
			<li class="nav-header">Brands</li>
			<li ng-repeat="brand in brands">
			    <i class="icon-wrench pull-right" ng-show="drafts"></i>
                <a href="#" ng-click="selectBrand(brand)">{{brand.brandName}}</a>
			</li>
		    </ul>
            </div>
        </div>
        <div class="span10">
        <!-- Display wellcome text if no brand selected -->
	    <div class="hero-unit" ng-show="showHomePageContent()">
		<img src="img/logo.png" width="148" height="185" class="pull-left"/>
		<br />
		<h1>Welcome to tiny CMS</h1>
		<h2>Simple brand content management system</h2>
	    </div>

	    <!--Get the selected brand and check that it is in display mode -->
        <p class="pull-right" ng-show="isDisplayMode">

            <!--If the brand has draft changes display the published button -->
            <button
                    ng-show="selectedBrandData.drafts"
                    class="btn btn-success"
                    type="button"
                    title="All unpublished details are made public">
                <i class="icon-edit"></i> Publish
            </button>

            <!-- Edit button for the brand data -->
            <button
                    class="btn btn-primary"
                    type="button"
                    title="Edits the brand data">
                <i class="icon-edit"></i> Edit
            </button>
        </p>

	    <!-- Loop round each status that we have, published, draft show button and click functionality to show that particular version -->
        <ul class="nav nav-pills">
            <li >
                <a href="#"></a>
            </li>
        </ul>
	    <!-- Show the selected brand -->
	    <!-- Show the edit brand -->
        </div>
    </div>
</div>

<!-- Display template -->
<script type="text/html" id="showBrand">
    <h1><span>BrandName</span> (<span>code</span>)</h1>

    <dl>
        <dt>Strapline</dt>
        <dd>Strap line</dd>
    </dl>

    <h3>Important text</h3>
    <!-- Loop over each important text -->
    <ul>
        <li>text</li>
    </ul>

     <!-- Loop over benefits -->
    <h3>Benefits</h3>
    <ul>
        <li>text</li>
    </ul>

    <h3>Presence</h3>

    <label class="checkbox">
        <input type="checkbox" disabled="disabled" /> Online purchase supported
    </label>

    <label class="checkbox">
        <input type="checkbox" disabled="disabled" /> Offline purchase supported
    </label>
<!--if offlinePurchaseSupported -->
    <h4>Opening times</h4>

    <dl class="dl-horizontal">
        <dt>Monday</dt>
        <dd>*</dd>

        <dt>Tuesday</dt>
        <dd>*</dd>

        <dt>Wednesday</dt>
        <dd>*</dd>

        <dt>Thursday</dt>
        <dd >*</dd>

        <dt>Friday</dt>
        <dd >*</dd>

        <dt>Saturday</dt>
        <dd >*</dd>

        <dt>Sunday</dt>
        <dd >*</dd>

        <dt>Bank Holiday</dt>
        <dd >*</dd>
    </dl>

    <dl>
        <dt>Phone Number</dt>
        <dd ></dd>

        <dt>Support Copy</dt>
        <dd ></dd>
    </dl>

    <h3>Offer</h3>
    <dl>
        <dt>Text</dt>
        <dd ></dd>

        <dt>Terms</dt>
        <dd ></dd>
    </dl>
</script>

<!--Edit template -->
<script type="text/html" id="editBrand">
    <form>
        <fieldset>
            <legend>Brand <span></span></legend>

            <label>Name</label>
            <input type="text" />

            <label>Strapline</label>
            <input type="text" class="input-xxlarge" />

            <label>Important Text</label>
            <textarea rows="3" class="span8" ></textarea>
            <button type="button" class="btn btn-small" title="remove paragraph" >
                <i class="icon-remove-circle"></i>
            </button>
            <br />
            <button class="btn btn-small" type="button" ><i class="icon-plus"></i> Add</button>
        </fieldset>

        <br />

        <fieldset>
            <legend>Benefits</legend>

            <ul>
                <li>
                    <input type="text"  class="span8"/>
                    <button class="btn btn-small" type="button" ><i class="icon-remove-circle"></i></button>
                </li>
            </ul>

            <button class="btn btn-small" type="button" ><i class="icon-plus"></i> Add</button>
        </fieldset>

        <br />

        <fieldset>
            <legend>Presence</legend>

            <label class="checkbox">
                <input type="checkbox"  /> Online purchase supported
            </label>

            <label class="checkbox">
                <input type="checkbox"  /> Offline purchase supported
            </label>

            Opening times:

            <div class="form-horizontal">

                <div class="control-group">
                    <label class="control-label">Monday</label>
                    <div class="controls">
                        <input type="text"  />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Tuesday</label>
                    <div class="controls">
                        <input type="text"  />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Wednesday</label>
                    <div class="controls">
                        <input type="text"  />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Thursday</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Friday</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Saturday</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Sunday</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Bank Holiday</label>
                    <div class="controls">
                        <input type="text" />
                    </div>
                </div>

            </div>

            <label>Phone Number</label>
            <input type="text"  />

            <label>Support Copy</label>
            <textarea rows=3 class="span8" ></textarea>
        </fieldset>

        <br />
        <fieldset>
            <legend>Offer</legend>

            <label>Text</label>

            <input type="text" class="input-xxlarge"  />

            <label>Terms</label>
            <textarea rows="3" class="span8" ></textarea>

        </fieldset>

        <div class="form-actions">
            <button class="btn btn-primary" type="button" ><i class="icon-edit"></i> Save</button>
            <button class="btn" type="button" ><i class="icon-edit"></i> Cancel</button>
        </div>

    </form>
</script>

<script type='text/javascript' src='lib/jquery-2.0.2.min.js'></script>
<script type='text/javascript' src='lib/angular/angular.js'></script>
<script type='text/javascript' src='js/app.js'></script>
<script type='text/javascript' src='js/controllers.js'></script>
<script type='text/javascript' src='js/directives.js'></script>
<script type='text/javascript' src='js/filters.js'></script>
<script type='text/javascript' src='js/services.js'></script>
<script src='lib/bootstrap/js/bootstrap.min.js'></script>
</body>
</html>
